.block {
	width: 500px;
	padding: 1px 10px 20px;
	background: #D6D7BF;
}

.one {
	color: #522606;
	font-family: 'Roboto', sans-serif;
}

.two {
	
}

.three {
	color: #86532C;
}

.four {
	color: #496C29;
}